*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none ;
    transition: 0.5s all;
}

img{
    width:60px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
    background: orangered;
}

ul{
    flex: 1;
    display: flex;   
    justify-content: space-between;
    background: limegreen;
    border: 4px solid #ffffff76;
    padding: 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

ul li a{
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #fff;
    transition: 0.5s all;
    font-size: 20px;
    position: relative;
}

ul li a h1{
    display: none;
    transition: 0.5s all;
    font-size: 40px;
}

ul li a:hover h1{
    display: block;
    color: tomato;
}