/*##### GENERAL #####*/
*{
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* —— NAV —— */
nav ul{
  background-color: #fee;
  list-style: none;
}

/* —— NAV LIST —— */
nav ul li{
  float: left;
  
}
nav ul .right{
  float: right;
}

/* —— NAV LIST ANCHOR —— */
nav ul li a{
  text-align: center;
  display: block;
  min-height: 16px;
  text-decoration: none;
  text-transform: uppercase ;
  padding: 14px;
  color: #665;
  font-family: 'times', 'georgia';
  font-weight: bold;
}

/* —— NAV LIST HOVER —— */
nav ul li a:hover{
  background-color: #0080ff;
  color: #fff;
}

/* —— MOBILE —— */
@media screen and (max-width: 1200px;) {
  header{ color: red;}
}