*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav a{
   color: #ff7200;
}

.navbar{
   min-height: 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
}

ul.nav-menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 50px;
   padding: 0 10px
   
}

a.logo{
   font-size: 4rem;
   font-family: times; 
   font-weight: bolder;
   padding: 5px;
}

a.nav-link{
   transition: 0.7s ease;
   font-size: 1.5rem;
   font-weight: bolder;
   color: #ff7200;
}
a.nav-link:hover{
   background-color: #fff;
   color: #ff7200;
   padding: 5px 20px;
   border-radius: 20px;
}
div.hamburger{
   cursor: pointer;
   padding: 0 5px;
   display: none;
}

.bar{
   display: block ;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: #ff7200;
}

/*** main container ****/
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 75vh;
    margin: 50px 0 0 0;
    padding: 0 20px;
    column-gap: 30px;
}

section{
    height: 100%;
}

section.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.sec1 h1{
    font-size: 45px;
    text-align: left;
    color: #ff7200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgba(255,255,255,0.1);
}

section.sec1 p{
    text-align: justify;
    color: #fff;
    padding: 10px 0;
    font-size: 17px;
}

section.sec1 div button.contact{
    width: 100px;
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 15px;
    color: #fff;
    background-color: #ff7200;
    font-weight: bold;
}

div.container{
    background: #000;
}


div.pngs{
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

div.pngs img{
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
}

div.pngs img:hover{
    background-color: #ff7200;
    transition: 0.5s ease-in-out;
    width: 20px;
}


section.sec2{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

div.big{
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 20px 5px;
    row-gap: 5px;
}
div form{
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
    height: 250px;
}

form label{
    background-color: #fff;
    font: bold 20px times;
    color: #ff7200;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

form input[placeholder]{
    background: transparent;
    border: none;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    color: #fff;
    border-bottom: 2px solid #ff7200;
}

form input[placeholder]::placeholder{
    color: #fff;
    font: bold 19px times;
}

form input[type="submit"]{
    color: #fff;
    background-color: #ff7200;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

div.ask h3{
    text-align: center;
    font-size: 17px;
    color: #fff;
}

div.ask h3 a {
    color: #ff7200;
}

@media screen and (max-width: 800px){
   div.hamburger{
      display: block;
   }
   
   .hamburger.active .bar:nth-child(1){
      transform: translateY(7px) rotate(90deg);
   }
   
   .hamburger.active .bar:nth-child(2){
      transform: translateY(-0.5px);
   }
   
   .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(45deg);
   }
   .hamburger.active .bar:nth-child(4) {
      transform: translateY(-17px) rotate(-45deg);
   }
   
   ul.nav-menu{
      position: fixed;
      left: 100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background: rgba(225,225,225,0.1);
      width: 100%;
      text-align: center;
      transition: 0.3s;
      margin-bottom:50px;
      display: block;
   }
   .nav-item{
      padding: 16px 0;
   }
   .nav-menu.active{
      left: 0;
   }
   
   main.main.margin{
       margin-top: 50px;
   }
   
}

/**** 720px Screen Width ****/
@media screen and (max-width: 720px){
    a.logo{
        font-size: 3.6rem;
    }
}

/**** 680px width ****/
@media screen and (max-width: 680px){
    a.logo{
        font-size: 3.2rem;
    }
}
/**** 540px width ***/
@media screen and (max-width: 560px){
    a.logo{
        font-size: 2.7rem;
    }
}

/**** 420px width ****/
@media screen and (max-width: 480){
    a.logo{
        font-size: 2.3rem;
    }
}
/**** 360px width ****/
@media screen and (max-width: 400px){
    a.logo{
        font-size: 1.5rem;
    }
}

